<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
		<grant name="attendance" default="member">
			<title xml:lang="ko">출석권한</title>
		</grant>
	</grants>
	<permissions>
		<permission action="dispAttendanceAdminConfig" target="manager" />
		<permission action="dispAttendanceAdminGift" target="manager" />

		<permission action="procAttendanceAdminInsertGift" target="manager"/>
		<permission action="procAttendanceAdminInsertAttendance" target="manager"/>
		<permission action="procAttendanceAdminDeleteAllData" target="manager"/>
		<permission action="procAttendanceAdminInitAll" target="manager"/>
		<permission action="procAttendanceAdminUpdatePoint" target="manager"/>
		<permission action="procAttendanceInsertConfig" target="manager"/>
		<permission action="dispAttendanceAdminBoardConfig" target="manager"/>
		<permission action="dispAttendanceAdminBoardSkinConfig" target="manager"/>
		<permission action="dispAttendanceAdminBoardAdditionSetup" target="manager"/>
		<permission action="procAttendanceAdminDeleteBoard" target="manager"/>
		<permission action="dispAttendanceAdminGrantList" target="manager"/>
		<permission action="dispAttendanceAdminModifyAttendance" target="manager"/>
		<permission action="dispAttendanceMobileModifyAttendance" target="manager"/>
	</permissions>
	<actions>
		<!-- admin view -->
		<action name="dispAttendanceAdminConfig" class="Controllers\AdminView" standalone="true" admin-index="true"/>
		<action name="dispAttendanceAdminTime" class="Controllers\AdminView" standalone="true" />
		<action name="dispAttendanceAdminDay" class="Controllers\AdminView" standalone="true" />
		<action name="dispAttendanceAdminRankweekly" class="Controllers\AdminView" standalone="true" />
		<action name="dispAttendanceAdminRankmonthly" class="Controllers\AdminView" standalone="true" />
		<action name="dispAttendanceAdminRankyearly" class="Controllers\AdminView" standalone="true" />
		<action name="dispAttendanceAdminRanktotal" class="Controllers\AdminView" standalone="true" />
		<action name="dispAttendanceAdminSpeedsearch" class="Controllers\AdminView" standalone="true" />
		<action name="dispAttendanceAdminGift" class="Controllers\AdminView" standalone="true" />
		<action name="dispAttendanceAdminGrantList" class="Controllers\AdminView" standalone="true"/>
		<action name="dispAttendanceAdminBoardAdditionSetup" class="Controllers\AdminView" />
		<action name="dispAttendanceAdminModifyAttendance" class="Controllers\AdminView" standalone="true"/>
		<action name="dispAttendanceAdminBoardConfig" class="Controllers\AdminView" standalone="true" setup_index="true" />
		<action name="dispAttendanceAdminBoardSkinConfig" class="Controllers\AdminView" standalone="true" />
		<action name="dispAttendanceAdminMobileBoardSkinConfig" class="Controllers\AdminView" standalone="true" />
		<action name="dispAttendanceAdminList" class="Controllers\AdminView" standalone="true" />

		<!-- admin controller -->
		<action name="procAttendanceAdminInsertAttendance" class="Controllers\Admin" standalone="true" />
		<action name="procAttendanceAdminInsertGift" class="Controllers\Admin" standalone="true" />
		<action name="procAttendanceAdminDeleteAllData" class="Controllers\Admin" standalone="true" />
		<action name="procAttendanceAdminUpdatePoint" class="Controllers\Admin" standalone="true" />
		<action name="procAttendanceAdminFixTotalData" class="Controllers\Admin" standalone="true" />
		<action name="procAttendanceAdminFixAttendanceData" class="Controllers\Admin" standalone="true" />
		<action name="procAttendanceAdminInsertBoard" class="Controllers\Admin" standalone="true" />
		<action name="procAttendanceAdminInitAll" class="Controllers\Admin" standalone="true" />
		<action name="procAttendanceAdminDeleteBoard" class="Controllers\Admin" standalone="true" />
		<action name="procAttendanceAdminCheckData" class="Controllers\Admin" />
		<action name="procAttendanceAdminDeleteData" class="Controllers\Admin" standalone="true" />

		<!-- user view -->
		<action name="dispAttendanceBoard" class="Controllers\View" standalone="true" index="true" />
		<action name="dispAttendanceMemberInfo" class="Controllers\View" standalone="true" />
		<action name="dispAttendanceBoardGiftList" class="Controllers\View" standalone="true" />
		<action name="dispAttendanceMobileModifyAttendance" class="Controllers\View" />
		<action name="dispAttendancePersonalInfo" class="Controllers\View" standalone="true" />
		<action name="dispAttendanceModifyContinuous" class="Controllers\View" standalone="true" />

		<!-- user controller -->
		<action name="procAttendanceInsertAttendance" class="Controllers\Index" standalone="true" ruleset="attendanceinsert" />
		<action name="procAttendanceModifyContinuous" class="Controllers\Index" standalone="true" />
		<action name="procAttendanceModifyData" class="Controllers\Index" standalone="true" />
		<action name="procAttendanceCheckData" class="Controllers\Index" standalone="true" />
		<action name="procAttendanceDeleteData" class="Controllers\Index" standalone="true" />
	</actions>
</module>
