<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions>
		<permission action="dispAttendanceAdminConfig" target="manager" />
		<permission action="dispAttendanceAdminGift" target="manager" />
		
		<permission action="procAttendanceAdminInsertGift" target="manager"/>
		<permission action="procAttendanceAdminInsertAttendance" target="manager"/>
		<permission action="procAttendanceAdminDeleteAllData" target="manager"/>
		<permission action="procAttendanceAdminInitAll" target="manager"/>
		<permission action="procAttendanceAdminUpdatePoint" target="manager"/>
		<permission action="procAttendanceInsertConfig" target="manager"/>
		<permission action="dispAttendanceAdminBoardConfig" target="manager"/>
		<permission action="dispAttendanceAdminBoardSkinConfig" target="manager"/>
		<permission action="dispAttendanceAdminBoardAdditionSetup" target="manager"/>
		<permission action="procAttendanceAdminDeleteBoard" target="manager"/>
		<permission action="dispAttendanceAdminGrantList" target="manager"/>
		<permission action="dispAttendanceAdminModifyAttendance" target="manager"/>
		<permission action="dispAttendanceMobileModifyAttendance" target="manager"/>
	</permissions>
	<actions>
		<!-- admin view -->
		<action name="dispAttendanceAdminConfig" type="view" standalone="true" admin_index="true"/>
		<action name="dispAttendanceAdminTime" type="view" standalone="true" />
		<action name="dispAttendanceAdminDay" type="view" standalone="true" />
		<action name="dispAttendanceAdminRankweekly" type="view" standalone="true" />
		<action name="dispAttendanceAdminRankmonthly" type="view" standalone="true" />
		<action name="dispAttendanceAdminRankyearly" type="view" standalone="true" />
		<action name="dispAttendanceAdminRanktotal" type="view" standalone="true" />
		<action name="dispAttendanceAdminSpeedsearch" type="view" standalone="true" />
		<action name="dispAttendanceAdminGift" type="view" standalone="true" />
		<action name="dispAttendanceModifyContinuous" type="view" standalone="true" />
		<action name="dispAttendanceAdminGrantList" type="view" standalone="true"/>
		<action name="dispAttendanceAdminBoardAdditionSetup" type="view" />
		<action name="dispAttendanceAdminModifyAttendance" type="view" standalone="true"/>
		<action name="dispAttendancePersonalInfo" type="view" standalone="true" />
		<action name="dispAttendanceAdminBoardConfig" type="view" standalone="true" setup_index="true" />
		<action name="dispAttendanceAdminBoardSkinConfig" type="view" standalone="true" />
		<action name="dispAttendanceAdminMobileBoardSkinConfig" type="view" standalone="true" />

		<!-- admin controller -->
		<action name="procAttendanceModifyContinuous" type="controller" standalone="true" />
		<action name="procAttendanceInsertAttendance" type="controller" standalone="true" ruleset="attendanceinsert" />
		<action name="procAttendanceAdminInsertAttendance" type="controller" standalone="true" />
		<action name="procAttendanceAdminInsertGift" type="controller" standalone="true" />
		<action name="procAttendanceAdminDeleteAllData" type="controller" standalone="true" />
		<action name="procAttendanceAdminUpdatePoint" type="controller" standalone="true" />
		<action name="procAttendanceAdminFixTotalData" type="controller" standalone="true" />
		<action name="procAttendanceAdminFixAttendanceData" type="controller" standalone="true" />
		<action name="procAttendanceAdminInsertBoard" type="controller" standalone="true" />
		<action name="procAttendanceAdminInitAll" type="controller" standalone="true" />
		<action name="procAttendanceAdminDeleteBoard" type="controller" standalone="true" />
		<action name="procAttendanceAdminEnviromentGatheringAgreement" type="controller" />
		<action name="procAttendanceAdminCheckData" type="controller" />
		<action name="procAttendanceAdminDeleteData" type="controller" standalone="true" />

		<!-- user view -->
		<action name="dispAttendanceBoard" type="view" standalone="true" index="true" />
		<action name="dispAttendanceMemberInfo" type="view" standalone="true" />
		<action name="dispAttendanceBoardGiftList" type="view" standalone="true" />
		<action name="dispAttendanceMobileModifyAttendance" type="mobile" />

		<!-- user controller -->
		<action name="procAttendanceCheckData" type="controller" standalone="true" />
		<action name="procAttendanceModifyData" type="controller" standalone="true" />
		<action name="procAttendanceInsertConfig" type="controller" standalone="true" />
	</actions>
</module>
