@charset "utf-8";
#str_selected_date { font-size:9pt; font-family:tahoma; }
#trigger_calendar { vertical-align:middle; }
#navi { margin:0 auto; width:200px; text-align:center;font-size:12px; color:#5c5c5c; }
#navi a { text-decoration:none; color:#5c5c5c; }
#navi a:link { text-decoration:none; }
#navi a:visited { text-decoration:none; }
.right { font-size:12px; font-weight:bold; color:#000000; text-align:right; }
.center { font-size:12px; font-weight:bold; text-align:center; }
.dispmonth { font-size:12px; font-weight:bold; color:#5c5c5c; text-align:left; }
.graph_data {font-size:12px; color:#5c5c5c; text-align:left; }
.attendanceTable { width:100%; border:0; border-top:2px solid #cfcfcf; margin:0 0 20px 0; padding:0;}
.attendanceTable th div { white-space:nowrap; }
.attendanceTable tr.bg0{ background:#fff;}
.attendanceTable tr.bg1{ background:#f8f8f8;}
.attendanceTable th,
.attendanceTable td{ border:0; padding:3px 1px; text-align:center; vertical-align:middle; }
.attendanceTable th{ background:#f4f4f4; text-align:center;}
.attendanceTable tbody th{ border-bottom:1px solid #e5e5e5;}
.attendanceTable td{ border-bottom:1px solid #f0f0f0;}
.attendanceTable th.button, .colTable th.button, .crossTable th.button { text-align:right; }
.attendanceTable td.alert, .colTable td.alert, .crossTable td.alert  { color:red !important; }
.attendanceTable td.alert a, .colTable td.alert a, .crossTable td.alert a { text-decoration:none; color:red !important; }
.attendanceTable .center { font-size:12px; font-weight:bold; text-align:center; }
.attendanceTable .dotted { font-size:12px; font-weight:bold; color:#ff0000; text-align:center; }
.attendanceTable .right_data { font-size:12px; color:#5c5c5c; text-align:right; }
.rowTable .center { font-size:12px; font-weight:bold; text-align:center; }
.rowTable th { font-weight:normal;}
a {text-decoration:none; color:#5c5c5c;}

/*Graph*/
.admin_graph { 
    width:90%; 
    position:relative; 
    height:15px; 
    font:.9em Tahoma; 
    text-align:left;
}

.admin_graph .progress { 
    position:absolute; 
    height:16px; 
    text-align:center; 
    color:#a1a1a1;
    padding-top:1px;
}

.admin_graph .progress:hover { 
    position:absolute; 
    height:16px; 

    text-align:center; 
    color:#d9d9d9;
    padding-top:1px;
}

.admin_graph .trans-image { 
    width:1px; 
    height:1px;
}

.admin_graph .num { 
    width:10%;
    position:relative; 
    color:#a1a1a1; 
    padding-left:3px; 
    white-space:nowrap;
}

/*personalTable*/
.personalTable { width:100%; border:0; margin:0 0 20px 0; padding:0; table-layout:fixed; color:#797979; }
.personalTable th div { white-space:nowrap; }
.personalTable tr.bg0{ background:#fff;}
.personalTable tr.bg1{ background:#f8f8f8;}
.personalTable th,
.personalTable td{ border:0; padding:3px 1px; vertical-align:top;  text-align:left; white-space:nowrap;  height:100px; overflow:hidden; }
.personalTable th{ background:#f4f4f4;white-space:nowrap; }
.personalTable tbody th{ border-bottom:1px dotted #e5e5e5; font-weight:normal; white-space:nowrap; }
.personalTable td{ border-bottom:1px dotted #f0f0f0; font-weight:normal; white-space:nowrap; }
.personalTable .sunday { color:red;}
.personalTable .saturday { color:blue;}
.personalTable .center { text-align:center; }
.personalTable .same_height { height:auto; font-weight:bold; }


/* Æ÷ÀÎÆ® */
.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0e90d2;
	background-image: -moz-linear-gradient(top, #149bdf, #0480be);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
	background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
	background-image: -o-linear-gradient(top, #149bdf, #0480be);
	background-image: linear-gradient(to bottom, #149bdf, #0480be);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: width 0.6s ease;
	   -moz-transition: width 0.6s ease;
	     -o-transition: width 0.6s ease;
	        transition: width 0.6s ease;
}

.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}


.progress-success .bar,
.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}

.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}

.progress-warning .bar,
.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
	color: #ffffff;
	background-color: #2f96b4;
	*background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
	background-color: #24748c \9;
}